<template>
  <div class="form-general">
    <div class="form">
      <h2>Crear estudiante</h2>
      <StudentForm @save="addStudent" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router'
import StudentForm from '@/components/StudentForm.vue'
import { useStudentsStore } from '@/stores/StudentsData'
import type IStudent from '@/interfaces/IStudent'

const router = useRouter()
const studentsStore = useStudentsStore()

function addStudent(studentData: IStudent) {
  studentsStore.createStudent(studentData)
  router.push({ name: 'StudentList' })
}
</script>

<style scoped>
.form-general {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.form {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 20px;
}
h2 {
  font-weight: bold;
  text-align: center;
}
</style>
