<template>
  <div>
    <slot to="header"></slot>
    <h2>Agregar Estudiante</h2>
    <form @submit.prevent="addStudent">
      <label for="name">Nombre:</label>
      <input type="text" id="name" v-model="name" required /><br />
      <label for="email">Email:</label>
      <input type="email" id="email" v-model="email" required /><br />
      <label for="group">Grupo:</label>
      <input type="text" id="group" v-model="group" required /><br />
      <button type="submit">Agregar</button>
    </form>
  </div>
</template>

<style scoped>
h2 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}
label {
  margin: 5px 0;
}
input {
  padding: 5px;
  margin: 5px 0;
}
button {
  padding: 15px;
  margin: 10px 0;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
button:hover {
  background-color: #2d872d;
  color: black;
  border: 1px solid #000;
}
a {
  display: block;
  text-align: center;
  margin-top: 10px;
}
</style>

<script setup lang="ts">
import { ref } from 'vue'
import { useStudentsStore } from '@/stores/StudentsData'

const { createStudent } = useStudentsStore()
const name = ref('')
const email = ref('')
const group = ref('')

const addStudent = () => {
  const newStudent = {
    id: '', // Puedes generar un ID único como prefieras
    name: name.value,
    email: email.value,
    group: group.value
  }
  createStudent(newStudent)
  name.value = ''
  email.value = ''
  group.value = ''
}
</script>
