<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useRoute } from 'vue-router'
import { useStudentsStore } from '@/stores/StudentsData'
import type IStudent from '@/interfaces/IStudent' // Importa la interfaz IStudent

const route = useRoute()
const studentsStore = useStudentsStore()

const studentId = route.params.id as string
const student = ref<IStudent | null>(null)

onMounted(async () => {
  await studentsStore.getStudent(studentId)
  student.value = studentsStore.student
})
</script>

<template>
  <div class="card">
    <div class="card-detail" v-if="student">
      <h2>Informacion del estudiante &rarr; {{ student.name }}&#128512;</h2>
      <div class="detailss">
        <p><strong>ID:</strong> {{ student.id }}</p>
        <p><strong>Name:</strong> {{ student.name }}</p>
        <p><strong>Email:</strong> {{ student.email }}</p>
        <p><strong>Group:</strong> {{ student.group }}</p>
      </div>
      <div class="btn">
        <RouterLink to="/studentlist">Volver a la lista</RouterLink>
      </div>
    </div>
    <div v-else>
      <p>
        Estudiante no encontrado <RouterLink to="/studentlist">Lista dde estudiantes</RouterLink>.
      </p>
    </div>
  </div>
</template>

<style scoped>
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.card-detail {
  background-color: #00e676;
  padding: 20px;
  border-radius: 20px;
}

h2 {
  font-weight: bold;
  text-align: center;
}
a {
  background-color: #97a800;
  padding: 20px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin: 10px 0;
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.detailss {
  color: rgb(0, 0, 0);
  font-size: 20px;
}
</style>
