<template>
  <div class="items">
    <h2 class="green-header">Estudiantes</h2>
    <div class="tabla">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="student in studentsStore.students" :key="student.id">
            <td>
              <RouterLink :to="{ name: 'StudentDetails', params: { id: student.id } }">{{
                student.name
              }}</RouterLink>
            </td>
            <td>
              <button class="delete" @click="deleteStudent(student.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useStudentsStore } from '@/stores/StudentsData'

const studentsStore = useStudentsStore()
studentsStore.getStudents()

const deleteStudent = (id: string) => {
  studentsStore.deleteStudent(id)
  studentsStore.getStudents()
}

const students = studentsStore.students
</script>

<style scoped>
a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
h2 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.green-header {
  color: #4caf50; /* Color verde */
}
.menu-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin: 60px 0;
}
.btn-add {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 3rem;
  display: block;
  width: 250px;
}
.delete:hover {
  background-color: red;
}
.delete {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}
.tabla {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1rem auto;
  height: 400px;
  width: 300px;
  overflow-y: scroll;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}
</style>
