<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>
    <img
      alt="Vue logo"
      class="logo"
      src="https://media.licdn.com/dms/image/D4E03AQGs6l3xK2UfnQ/profile-displayphoto-shrink_800_800/0/1694175668253?e=1716422400&v=beta&t=iAcxDDTW_wJAxGATjKUmr8_rOiRH_Q6xLtPAH5ac2wI"
      width="125"
      height="125"
    />
    <nav>
      <RouterLink to="/">Home</RouterLink>
      <RouterLink to="/add">Agregar Alumno</RouterLink>
      <RouterLink to="/studentlist">Ver Lista de Alumnos</RouterLink>
    </nav>
  </header>
  <RouterView />
  <footer class="footer">Dimas Arturo López Montalvo&copy;</footer>
</template>

<style scoped>
header {
  line-height: 1.5;
  max-height: 100vh;
  background-color: #00e676;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}
nav a:hover {
  color: var(--color-primary);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    justify-content: center;
    box-shadow: 0px 15px 20px -20px black;
    padding: 10px 0;
  }

  .logo {
    margin: 0 1rem 0 4rem;
  }

  header .wrapper {
    background-color: antiquewhite;
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
.footer {
  background-color: #00e676;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  width: 100%;
}
</style>
